@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



* {
  font-family: Outfit;
}

button{
  background-color: #e89755;
  padding: 8px;
  border-radius: 17px;
  color: white;
  width: 160px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0,3s;
}
button:hover{
  background-color: orangered;
}
.cl-internal-8opd5o{
  width: 100% !important;
}